<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,500;1,400&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,500;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./CSS/index.css">
   
</head>

<body data-scroll-container>

    <div class="main-element">

        <nav>
            <div class="Logo">Explo</div>
            <div class="menu">
                <a href="login">MA</a>
                <!-- <a href="admin">Sg</a> -->
            </div>
        </nav>

        <div data-scroll-section>
            <div class="i1" data-scroll data-scroll-speed="9"></div>
            <div class="i2" data-scroll data-scroll-speed="5"></div>
            <div class="i3" data-scroll data-scroll-speed="2"></div>
            <div class="i4" data-scroll data-scroll-speed="-1"></div>
            <div class="i6" data-scroll data-scroll-speed="2"></div>
            <div class="i7" data-scroll data-scroll-speed="0"></div>
            <div class="i8" data-scroll data-scroll-speed="9"></div>
        </div>


        <div class="img" data-scroll-section>
            <div class="aa" data-scroll data-scroll-speed="9">E</div>
            <div class="aa" data-scroll data-scroll-speed="5">X</div>
            <div class="aa" data-scroll data-scroll-speed="-1">P</div>
            <div class="aa" data-scroll data-scroll-speed="2">L</div>
            <div class="aa" data-scroll data-scroll-speed="7">O</div>
            <div class="aa" data-scroll data-scroll-speed="2">R</div>
            <div class="aa" data-scroll data-scroll-speed="0">E</div>
           
        </div>

        <div class="base" data-scroll-section>
            <div class="base-text">Explore Stunning Destinations Now</div>
            <div class="base-text-1">We provide you with best Packages with Low Price</div>
            <div class="base-img1" data-scroll data-scroll-speed="2"></div>
            <div class="base-img2" data-scroll data-scroll-speed="2"></div>
            <div class="base-img3" data-scroll data-scroll-speed="-9" data-scroll-direction="horizontal"></div>
            <div class="base-text-2">
                <p>Discover unforgettable travel experiences with our handpicked tours! From stunning landscapes to vibrant cultures, we offer exclusive adventures and local delights tailored just for you.</p>
            </div>
        </div>

        <div class="line-hori" data-scroll-section>
            <div class="line-div-1 line-div-001" data-scroll data-scroll-speed="9" data-scroll-direction="horizontal">Hover_Me</div>
            <div class="line-div-2 line-div-001" data-scroll data-scroll-speed="9" data-scroll-direction="horizontal">Hover_Me</div>
            <div class="line-div-3 line-div-001" data-scroll data-scroll-speed="9" data-scroll-direction="horizontal">Hover_Me</div>
            <div class="line-div-4 line-div-001" data-scroll data-scroll-speed="9" data-scroll-direction="horizontal">Hover_Me</div>
            <div class="line-div-5 line-div-001" data-scroll data-scroll-speed="9" data-scroll-direction="horizontal">Hover_Me</div>
            <div class="line-div-6 line-div-001" data-scroll data-scroll-speed="9" data-scroll-direction="horizontal">Hover_Me</div>
            <div class="line-div-7 line-div-001" data-scroll data-scroll-speed="9" data-scroll-direction="horizontal">Hover_Me</div>
            <div class="line-div-8 line-div-001" data-scroll data-scroll-speed="9" data-scroll-direction="horizontal">Hover_Me</div>
            <div class="line-div-9 line-div-001" data-scroll data-scroll-speed="9" data-scroll-direction="horizontal">Hover_Me</div>
            <div class="line-div-10 line-div-001" data-scroll data-scroll-speed="9" data-scroll-direction="horizontal">Hover_Me</div>
            <div class="line-div-11 line-div-001" data-scroll data-scroll-speed="9" data-scroll-direction="horizontal">Hover_Me</div>
            <div class="line-div-12 line-div-001" data-scroll data-scroll-speed="9" data-scroll-direction="horizontal">Hover_Me</div>
            <div class="line-div-13 line-div-001" data-scroll data-scroll-speed="9" data-scroll-direction="horizontal">Hover_Me</div>
        </div>

        <div class="video-base" data-scroll-section>
            <div class="video-base-1 basee">
                <img src="https://i.pinimg.com/564x/e9/ff/ac/e9ffac726f5d1a79647f5f7d2d737924.jpg" alt="" class="video-image">              
                <p class="basee-text">Explore the world’s most exotic destinations with our specially curated tours. Whether it's the serene beaches of Bali, the vibrant streets of Marrakech, or the ancient wonders of Machu Picchu, we have a tour that will captivate your imagination and satisfy your wanderlust. Each journey is designed to offer unique experiences and unforgettable memories.</p>
                <video class="image-video" src="pic/video-img-section/new-image/img2-2.mp4" autoplay loop muted>
                </video>
            </div>

            <div class="video-base-2 basee">
                <img src="https://i.pinimg.com/564x/44/03/f0/4403f0a973a39baf1c5fca1165f85b68.jpg" alt="" class="video-image">
                <p class="basee-text">Our tours are tailored to meet your every need, providing you with personalized experiences that go beyond the ordinary. From private guided tours to bespoke itineraries, we ensure that every detail is crafted to perfection. Enjoy exclusive access to hidden gems, local delicacies, and cultural experiences that are not available to the average tourist.</p>
                <video class="image-video" src="pic/video-img-section/new-image/img1-1.mp4" autoplay loop muted>
                </video>

            </div>
            <div class="video-base-3 basee">
                <img src="https://i.pinimg.com/564x/96/28/fd/9628fdba9736f35a6abc0c424b934e07.jpg"alt="" class="video-image">
                <p class="basee-text">Adventure awaits you at every turn with our thrilling tour packages. Whether you're an adrenaline junkie seeking heart-pounding activities or a nature lover eager to explore breathtaking landscapes, we have something for everyone. Dive into exciting adventures, explore uncharted territories, and create stories that will last a lifetime.</p>
                <video class="image-video" src="pic/video-img-section/new-image/img3-3.mp4" autoplay loop muted>
                </video>
            </div>
        </div>


        <div class="base-division" data-scroll-section>
            <div class="left_base" data-scroll>
            </div>
            <div class="right-base" data-scroll>
                <h3 class="right-base-head right-base-font hidden">Why Choose Our Tours?</h3>
                <p class="right-base-para">Embark on a journey of discovery with our diverse range of tours. From cultural immersions in bustling cities to tranquil retreats in nature's embrace, we offer something for every traveler.</p>
                <h5 class="right-base-1 right-base-font hidden">Comfert</h5>
                <h5 class="right-base-2 right-base-font hidden">Afordable</h5>
                <h5 class="right-base-3 right-base-font hidden">Choise's</h5>
            </div>
        </div>


        <div class="float-image" id="stick" data-scroll-section>
            <div class="floating-text" data-scroll data-scroll-sticky data-scroll-target="#stick">EXPLORE</div>

            <div class="float-img-1"></div>
            <div class="float-text-1" data-scroll data-scroll-speed="3">Experience the magic of a beach sunset with our coastal tours. Imagine sinking your toes into golden sands as the sun sets, painting the sky in breathtaking hues. Enjoy snorkeling, beachside dining, and exploring hidden coves. Let the tranquility of the ocean create unforgettable memories.</div>

            <div class="float-img-2"></div>
            <div class="float-text-2" data-scroll data-scroll-speed="6">Embrace the serenity of majestic mountains with our adventure tours. Picture yourself trekking through lush trails, breathing in fresh air as you reach panoramic viewpoints. Enjoy hiking, wildlife spotting, and exploring scenic landscapes. Discover the beauty and tranquility of the mountains.</div>

            <div class="float-img-3"></div>
            <div class="float-text-3" data-scroll data-scroll-speed="3">Step back in time and explore iconic cities with our cultural tours. Wander through ancient streets, marvel at architectural wonders, and immerse yourself in local traditions. Visit historic landmarks, museums, and cultural hotspots. Experience the charm and allure of historic cities.</div>

            <div class="float-img-4"></div>
            <div class="float-text-4" data-scroll data-scroll-speed="5">Escape to the tranquil countryside with our scenic rural tours. Envision rolling hills, picturesque vineyards, and charming villages that offer a peaceful retreat from the hustle and bustle of city life. Our countryside tours provide opportunities for wine tasting, farm visits, and leisurely strolls through idyllic landscapes. Experience the simple pleasures of rural life and soak in the natural beauty that surrounds you, making every moment a serene escape.</div>

                

        </div>
        <div class="search-section" data-scroll-section>
            <div class="main">
                <h1 class="search-wala-section" class="typewriter" >Search Place  !</h1>
                <form id="searchForm" class="form-set">
                    <input type="text" id="searchInput" placeholder="Enter The location" class="search-enter">
                    <button type="submit" class="search-search">Search &#128269;</button>
                </form>
            </div>
            <script src="JS/Search.js"></script>

           
        </div>
    </div>
    <script>document.addEventListener('DOMContentLoaded', () => {
        fetch('/fake')
            .then(response => response.json())
            .then(data => {
                
                localStorage.setItem('tourPackages', JSON.stringify(data));
                console.log('Data saved to localStorage');
            
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    });</script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js"></script>
    <script src="JS/m_index.js"></script>

</body>

</html>